*{
    margin: 0;
    padding:0;
    text-decoration: none; 
    box-sizing: border-box;

}
/* ---------------------------top menu */


.about{
    width: 100%;
    height: auto;
}


.top_menu{
    display: flex;
    justify-content: flex-start;
}

.top_menu a{
    padding: 12px 25px 0px 25px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    color: #535353;
    text-decoration:  none;
}


.top_menu a:hover{
    cursor: pointer;
    color:#34573a;
}

.button{
    margin-left: 341px;
    width: 136px;
    height: 20px;
    background: #FFFFFF;
    border: 1px solid rgba(73, 121, 82, 0.7);
    box-sizing: border-box;
    border-radius: 30px;
    color:rgba(73, 121, 82, 0.7);
}


.button:hover{
    background-color: rgba(73, 121, 82, 0.7) ;
    color: aliceblue;
    cursor: pointer;
}

.top_menu img{
    margin-top: 12px;
    margin-left: 21px;
}



/* ---------------------------center menu */



.center_menu_left{
    display: flex;
    margin-left: 49px;
    margin-top: 16px;
}


.center_menu_right{
    display: flex;
    margin-left: 80px;
    margin-top: 5px;
}

.center_menu_right img{
    width: 30px;
    height: 30px;
}

.icons2{
    margin-right: 13px;
}





.icons3{
  margin-left:100px ;
  margin-right: 13px;
}

.icons4{
    margin-left: 100px;
    margin-right: 13px;
}


.icons5{
    margin-left: 181px;
}


/* -------------------------bottom mwenu */

.bottom_menu{
    background-color:#497952;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgb(107, 104, 104);
    border: 2px solid #34573a ;
}

.bottom_menu_mn{
    margin-left: 203px;
   
}


.bottom_menu_mn a{
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #FAFFFA;
    margin-right: 35px;
    text-decoration: none;

}



.bottom_menu_mn a:hover{
     color: #33b94a;
}


/* =========================search */


.search{
    display: flex;
    align-items: center;
}

.searchh{
    margin-left: 53px;
    margin-top: 22px;
    margin-right: 10px;
}


.input{
    margin-top: 22px;
    border-radius: 50px;
    border:1px solid  rgb(187, 180, 180);
    padding:9px 1000px 8px 12px;
}

.container span{
    margin-left: 10px;
    margin-right: 10px;
}





/* ===============brend_info */


.brend_info{
    margin-top: 53px;
    margin-left: 118px;
    display: flex;
}

.main_right{
    display: flex;
    flex-direction: column;
    position: fixed;
    left:1240px;
}

.brend_info h2{
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #535353;
}


.brend_info p{
    width: 995px;
    height: 43px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #535353;

}


.brend_img{
    margin-left: 68px;
    display: flex;
    display: grid;
    grid-template-columns: auto auto auto ;
    gap: 10px;
    padding:50px;
}

.brend_img a{
    margin-left: 20px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration-line: underline;
    color: #535353;
}

.brend_img_4{
    margin-top: 50px;
}


.brend_img_5{
    margin-top: 68px;
}


.brend_img_6{
    margin-top: 71px;
}



/* ------------------select */




.select_2{
    margin-left: 500px;

}


.option{
    border-radius: 50px;
    margin-left: 65px;
    margin-top: 10px;
    color: rgb(168, 173, 173);
    padding:4px 26px 5px 11px;
}





/* ========================con_right */


.con_left{
   border-radius: 10px;
   width: 255px;
   height: 1820px;
   border: 1px solid #34573a;
   margin-left: 65px;
}



.contaner{
    display: flex;
}


.con_right_1{
    display: flex;
}


.con_right_2{
    margin-top: -70px;
    display: flex;
}


.con_right_3{
    margin-top: -70px;
    display: flex;
}

.card_1{
    width: 270px;
    height: 650px;
    border: 1px solid #497952;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 90px;
 
}

.cr_1{
    box-shadow: 5px 5px 5px rgb(112, 111, 111);
}

.top{
    display: flex;
}
 
.like_and{
    margin-top:7px;
    margin-left:31px;
    margin-right: 110px;
}
.started{
    margin-top: 7px;
}


.top_2{
    display: flex;

}


.new_new{
    position: relative;
    top:-80px;
    left: 18px;
}


.cotton{
    margin-top: 8px;
}



.par_1{
    margin-left: 76px;
    margin-top: 9px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #535353;
}


.cotton_color{
    margin-top: 10px;
    margin-left: 20px;
}


.option{
    border-radius: 50px;
    margin-left: 65px;
    margin-top: 10px;
    color: rgb(168, 173, 173);
    padding:4px 26px 5px 11px;
}


.par_2{
    margin-top: 24px;
    margin-left: 100px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 9px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #535353;
}

.par_3{
    margin-top: 10px;
    margin-left: 90px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #535353;
}

.par_4{
    margin-top: 10px;
    margin-left: 130px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    display: flex;
    align-items: center;
    color: #535353;
}

.money{
    margin-top: 35px;
    margin-left: 80px;
    width: 135px;
    height: 34px;
    background-color: bisque;
    border-radius: 10px;
    border:1px solid bisque;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
}

.tovar{
    margin-left: 100px;
    margin-top:46px;
    width: 95px;
    height: 26px;
    background-color: #497952;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tovar a:hover{
    color:#2aa741;
    cursor: pointer;
}


.t_1{
    margin-top: 65px;
}

.tovar a{
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    text-decoration: none;

}


.card_2{
    width: 275px;
    height: 650px;
    border: 1px solid #497952;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 90px;
}

.pp{
    margin-left: 116px;
    margin-top: 15px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 25px;
    line-height: 22px;
    text-decoration-line: line-through;
    
    color: #ABAAAA;

}


.op_02{
    margin-top: 20px;
    margin-left: 90px;
}

.mn2{
    margin-top: 25px;
    color: tomato;
}




.card_3{
    width: 275px;
    height: 650px;
    border: 1px solid #497952;
    background-color: #ffffff;
    border-radius: 10px;
    margin-left: 20px;
    margin-top: 90px;

}


.cd{
    display: flex;
    flex-direction: row;
}




/* ============================con_left */



.con_left_1{
    display: flex;
    margin-top: -5px;
}

.con_left_1 input{
    margin-top: 30px;
}

.img{
    margin-top: 15px;
    margin-left: -10px;
}


.paraghrap_1{
    margin-top: 30px;
    margin-left: 15px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #535353;

}



.paraghrap_2{
    margin-top: 21px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #535353;

}

.brends{
    margin-left: 28px;
}

.span{
    margin-left: 15px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 12px;
    color: #D0D0D0;

}

.form-check label{
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #535353;
}

.bottom_brends select{
    margin-left: 28px;
    margin-top: 10px;
    background-color: white;
    color:#497952;
    text-decoration:dashed;
    border: none;

}



.sena{
    margin-left: 29px;
}
.sena h3{
    margin-top: 25px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #535353;

}

.sena p{
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    
    color: #535353;
}


.sena input{
    width: 183px;
    height: 88px;
}

.sena_1{
    display: flex;
}

.sena_1 input{
    margin-right: 15px;
    margin-left: 15px;
    width: 56px;
    height: 24px;
   border: 1px solid rgb(94, 91, 91);
   border-radius: 50px;
}

.center{
    display: flex;
}

.center div{
    display: flex;
}

/* ==========================color */


.color h3{
    margin-top: 15px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #535353;
}
.color{
    margin-left: 28px;
}

.color img{
    margin-top: 10px;
}


.br{
    margin-top: 29px;
}


.btnn{
    display: flex;
}

.btn_1{
    margin-top: 30px;
    margin-left: 19px;
    width: 100px;
    height: 26px;
    background-color: #497952;
    border-radius: 50px;
    color: white;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
}


.btn_2{
    margin-top: 30px;
    height: 26px;
    width: 95px;
    background-color: white;
    border-radius: 50px;
    margin-left: 17px;
    margin-right: 24px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 11px;
    line-height: 13px;

}

.btn_1:hover{
    cursor: pointer;
    background-color: white;
    color: black;
}


.btn_2:hover{
    cursor: pointer;
    background-color: #497952;
    color: white;

}



.magazin h3{
    margin-top:48px ;
    margin-left: 111px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #535353;
}


.magazin_left_1 p{
    text-decoration-line: underline;
}

.magazin_left_1 img{
   margin-right: 22px;
}



.magazin_left_2 img{
   margin-right: 22px;
}


.magazin_left p{
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    display: flex;
    align-items: center;
    color: #535353;
    margin-top: 11px;
}


.magazin{
    margin-left: -105px;
    margin-top: 30px;
    margin-bottom: 20px;
}


.magazin_left_2{
    margin-top: 40px;
}






  /* ===============bottom */

.bottomm{
    margin-top: 80px;
    border: 1px solid black;
    background-color: #497952;
    width: 100%;
    height: 320px;
    display: flex;
}



.lg{
    margin-top: 30px;
    margin-left: 66px;
    display: block;
}

.ins{
    margin-left: 80px;
    padding: 5px;
}

.fc{
    padding:5px;
}

.wk{
    padding:3px;
}


.ok{
    padding: 5px;
}

.visa{
    margin-top: 50px;
    margin-left: 95px;
    display: block;
}


.bottomm_2{
    margin-left: 141px;
    margin-top: 44px;
    display: flex;
    flex-direction: column;
}

.bottomm_2 h3{
    margin-bottom: 19px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: white;
}

.bottomm_2 a{
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    padding:5px;

}

.bottomm_2 a:hover{
    cursor: pointer;
    color: rgb(12, 68, 21);
}

.b_22 p{
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
}


.p_5{
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 13px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #FFFFFF;
    margin-top: -10px;
}

.loc{
    margin-top: -5px;
}

.b_22 a{
    margin-top: -15px;
}
.phone{
    margin-top: 10px;
}



.optionn{
    margin-top: 25px;
    margin-left:15px ;
    width: 145px;
    height: 24;
}


.option_2{
    width: 78px;
    height: 30px;
}

.center p{
    margin-top: 30px;
    margin-left: 50px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 14px;
    color: #535353;
}


.center{
    margin-bottom: -45px;
}

.number{
    margin-left: 350px;
    margin-top: 41px;
}


.contanir{
    display: flex;
    margin-top: 40px;
}

.paragrap_2{
    margin-left: 120px;
}

.paragrap h3{
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #535353;

}

.paragrap p{
    width: 539px;
    height: 153px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 18px;
    color: #535353;
}


/* ========================bottommm */

.bottom{
    margin-top: -10px;
    margin-left: -110px;
}

.bottom_1{
    display: flex;
  
}


.bottom_1 h3{
    margin-left: 109px;
    margin-right: 18px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 43px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #497952;
}


.bottom_1 p{
    margin-top: 10px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    display: flex;
    align-items: center;
    color: #535353;

}


.bottom_2{
    display: flex;
    margin-top: -10px;
}


.bottom_2 input{
    margin-left:108px ;
    margin-top: 13px;
    width: 674px;
    height: 30px;
    border-radius: 50px;
    border:1px solid rgb(161, 161, 161);
    padding-left: 18px;
    box-shadow: 3px 3px 3px rgb(161, 161, 161) ;
}

.newww{
    margin-top: 13px;
    margin-left: 13px;
    width: 147px;
    height: 30px;
}

.newww a{
    margin-left:5px;
}

.new{
    border: 1px solid #34573a;
    background-color: #497952;
    width: 147px;
    height: 30px;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:10px;
    margin-right: 60px;
}


.new a:hover{
    
   color:#34573a ;
    cursor: pointer;
}


.new a{
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    text-decoration: none;
    margin-left:18px;
}



/* =====================footer */

.footer{
    width: 100%;
    height: 60px;
    background-color: #D9E6CC;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer p{
    margin-top: 22px;
    font-family: Bw Modelica Cyrillic DEMO;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;
    text-align: center;
    text-decoration-line: underline;
    color: #497952;

}


